@charset "UTF-8";
/* CSS Document */

/* ------------------------------------------------------- */
/* --------------- Quick colours ------------------------- */
/* ------------------------------------------------------- */

.c3_custom_component {
	/* Base colours */
	--c3_yellow: #ffb600 !important;
	--c3_tangerine: #eb8c00 !important;
	--c3_orange: #d04a02 !important;
	--c3_rose: #d93954 !important;
	--c3_red: #e0301e !important;
	--c3_lightgrey: #dedede !important;
	--c3_grey: #7d7d7d !important;
	--c3_mediumgrey: #464646 !important;
	--c3_darkgrey: #2d2d2d !important;
	--c3_black: #000000 !important;
	--c3_white: #FFFFFF !important;
	/* Additional data colours */
	--c3_darkred1: #AA2417 !important;
	--c3_darkred2: #741910 !important;
	--c3_darkrose1: #A43E50 !important;
	--c3_darkrose2: #6E2A35 !important;
	--c3_darkorange1: #933401 !important;
	--c3_darkorange2: #571F01 !important;
	--c3_darktangerine1: #AE6800 !important;
	--c3_darktangerine2: #714300 !important;
    /* Further data colours BW */
    --c3_lightrose1: #F7C8C4 !important;
    --c3_lightyellow1: #FFDCA9 !important;
    --c3_lightyellow2: #FFC83D !important;
    --c3_darkyellow1: #EB8C00 !important;
    
}

/* --------------------- MASTER STRUCTURES --------------------- */

#c3_outercontainer {
    display: block;
    background-color: #2d2d2d;
    min-height: 300px;
}

#c3_innercontainer {
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 2;
    width: 100%;
    max-width: 1370px;
    margin: auto;
}

div.c3_mapcontainer {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 10%;
}

div#c3_innercontainer nav ul {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ffffff;
    overflow: hidden;
    margin-top: 30px;
}

div#c3_innercontainer nav ul li {
    display: block;
    position: relative;
    float: left;
    width: 25%;
    margin-bottom: -1px;
}

div#c3_innercontainer nav ul li a {
    display: block;
    position: relative;
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 30px;
    border-bottom: 1px solid #ffffff;
    transition: all 0.5s ease;
    font-weight: 300;
    text-decoration: none !important;
}

div#c3_innercontainer nav ul li a::before {
    content: "";
    display: block;
    width: 0%;
    background-color: #7d7d7d;
    height: 6px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transition: all 0.5s ease;
}

div#c3_innercontainer nav ul li a:hover::before {
    bottom: 0px;
    left: 0%;
    width: 100%;
    background-color: #7d7d7d;
}

div#c3_innercontainer nav ul li a.selected::before {
    background-color: #ffffff;
    left: 0%;
    width: 100%;
    height: 10px;
}

#c3_g_europe *, #c3_g_northamerica *, #c3_g_restoftheworld * {
    transition: all 0.5s ease;
    opacity: 0.9;
}

#c3_g_restoftheworld * {
    fill: #d04a02;
}

#c3_g_europe * {
    fill: #ffb600;
}

#c3_g_europe:hover *, #c3_g_northamerica:hover *, #c3_g_restoftheworld:hover * {
    opacity: 1;
    stroke: #dedede;
}

#c3_g_northamerica * {
    fill: #d93954;
}

#c3_g_northamerica circle, #c3_g_europe circle, #c3_g_restoftheworld circle {
    fill: #ffffff !important;
    opacity: 1 !important;
}

#c3_g_europe:hover circle, #c3_g_northamerica:hover circle, #c3_g_restoftheworld:hover circle {
    fill: #464646 !important;
    stroke: #ffffff;
}

div#c3_innercontainer section {
    display: block;
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 20px;
    width: 320px;
    background-color: rgba(0,0,0,0.60);
    transition: all 0.5s ease;
    
}

div#c3_innercontainer section.c3_section_europe {
    left: 32%;
    top: 35%;
    width: 360px;
}

div#c3_innercontainer section.c3_section_restoftheworld {
    left: auto;
    right: 0%;
    top: 41%;
}

div#c3_innercontainer section.hover {
    background-color: rgba(0,0,0,0.85);
}

div#c3_innercontainer section::before {
    content: "";
    width: 2px;
    background-color: #ffffff;
    height: 95px;
    position: absolute;
    top: 117px;
    left: 20px;
}

div#c3_innercontainer section.c3_section_europe::before {
    height: 250px;
}

div#c3_innercontainer section.c3_section_restoftheworld::before {
    height: 211px;
}

div#c3_innercontainer section h3 {
    color: #ffffff;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    margin-top: 0px;
    width: 100%;
}

div#c3_innercontainer section h3::before {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border-radius: 20px;
    top: -7px;
    left: calc(50% - 7px);
    transition: all 0.5s ease;
}

div#c3_innercontainer section.hover h3::before {
    width: 100%;
    left: 0px;
    height: 4px;
    top: -3px;
    border-radius: 0px;
}


div#c3_innercontainer section h3 strong {
    display: block;
}

div#c3_innercontainer section h4 {
    color: #ffffff;
    font-size: 70px;
    line-height: 76px;
    padding-left: 20px;
    display: block;
    position: relative;
    margin: 0px;
}

div#c3_innercontainer section sup {
    color: #ffffff;
    margin-top: 20px;
    font-size: 12px;
    line-height: 15px;
    display: block;
    margin-top: 5px;
}

div#c3_innercontainer section h4::before {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 35px;
    left: 0px;
    transition: all 0.5s ease;
}

div#c3_innercontainer section p {
    color: #ffffff;
    font-size: 14px;
    padding-left: 16px;
    display: block;
    position: relative;
    line-height: 23px;
}

div#c3_innercontainer section p::before {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 15px;
    left: 0px;
}

div#c3_innercontainer section span.c3_up {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    font-size: 18px;
    font-weight: 300;
    color: #B4B4B4;
    line-height: 20px;
    height: 20px;
}

div#c3_innercontainer section span.c3_up::before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 12px;
    width: 1px;
    height: 17px;
    background-color: #B4B4B4;
    transition: all 0.5s ease;
}

div#c3_innercontainer section span.c3_up.c3_zero::before {
    content: "";
    position: absolute;
    bottom: 7px;
    left: 13px;
    width: 1px;
    height: 11px;
    background-color: #B4B4B4;
    transform: rotate(90deg);
    transition: all 0.5s ease;
}



div#c3_innercontainer section span.c3_up::after {
    content: "";
    position: absolute;
    bottom: 13px;
    left: 9px;
    width: 7px;
    height: 7px;
    border-left: 1px solid #B4B4B4;
    border-top: 1px solid #B4B4B4;
    transform: rotate(45deg);
    transition: all 0.5s ease;
}

div#c3_innercontainer section span.c3_down::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 9px;
    width: 7px;
    height: 7px;
    border-left: 1px solid #B4B4B4;
    border-top: 1px solid #B4B4B4;
    transform: rotate(225deg);
    transition: all 0.5s ease;
}

div#c3_innercontainer section span.c3_down::first-letter {
    font-size: 0px;
}

div#c3_innercontainer section span.c3_up.c3_zero::after {
    content: "";
    position: absolute;
    bottom: 7px;
    left: 8px;
    width: 11px;
    height: 1px;
    border-left: 0px solid #B4B4B4;
    border-top: 1px solid #B4B4B4;
    transform: rotate(0deg);
    transition: all 0.5s ease;
}

div#c3_innercontainer section p strong {
    font-size: 30px;
}

.c3_section_northamerica h3, .c3_section_northamerica h4, .c3_section_northamerica p strong {
    color: #d93954 !important;
}

.c3_section_europe h3, .c3_section_europe h4, .c3_section_europe p strong {
    color: #ffb600 !important;
}

.c3_section_restoftheworld h4, .c3_section_restoftheworld p strong {
    color: #d04a02 !important;
}


div#c3_innercontainer h3 strong { color: #ffffff !important; }

div.c3_div_line_northamerica {
    display: block;
    position: absolute;
    width: calc(21.2% - 160px);
    height: 15%;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    top: 34.6%;
    left: 160px;
}

div.c3_div_line_europe {
    display: block;
    position: absolute;
    width: calc(20.3% - 180px);
    height: 4%;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    top: 30.6%;
    left: calc(31.9% + 180px);
}

div.c3_div_line_restoftheworld {
    display: block;
    position: absolute;
    width: calc(30.8% - 160px);
    height: 2%;
    border-right: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    top: 38.6%;
    right: calc(-0.1% + 160px);
}

@media only screen and (max-width: 999px) {
    div#c3_innercontainer section {
        position: relative;
        top: auto !important;
        left: auto !important;
        right: auto !important;
        width: 100% !important;
        margin-bottom: 2px;
    }
    
    div.c3_div_line_europe, div.c3_div_line_northamerica, div.c3_div_line_restoftheworld {
        display: none;
    }
    
    div.c3_mapcontainer {
        padding-bottom: 0px;
    }
}
