/** Stat bar **/
.page-secondary-col--rose .page-section--col-light-grey .stat-bar,
.page-secondary-col--red .page-section--col-light-grey .stat-bar,
.page-secondary-col--orange .page-section--col-light-grey .stat-bar {
  background: #f2f2f2;
}
.page-secondary-col--rose .page-section--col-light-grey .stat-bar .stat-bar__item p,
.page-secondary-col--red .page-section--col-light-grey .stat-bar .stat-bar__item p,
.page-secondary-col--orange .page-section--col-light-grey .stat-bar .stat-bar__item p {
  color: #d93954;
}
.page-secondary-col--rose .page-section--col-light-grey .stat-bar .stat-bar__item .stat-bar__source,
.page-secondary-col--red .page-section--col-light-grey .stat-bar .stat-bar__item .stat-bar__source,
.page-secondary-col--orange .page-section--col-light-grey .stat-bar .stat-bar__item .stat-bar__source {
  color: #2d2d2d;
  font-weight: bold;
}
.page-secondary-col--rose .page-section--col-light-grey .stat-bar .stat-bar__item .stat-bar__source span,
.page-secondary-col--red .page-section--col-light-grey .stat-bar .stat-bar__item .stat-bar__source span,
.page-secondary-col--orange .page-section--col-light-grey .stat-bar .stat-bar__item .stat-bar__source span {
  font-weight: normal;
}
.page-secondary-col--rose .page-section--col-light-grey .stat-bar .stat-bar__item::before,
.page-secondary-col--red .page-section--col-light-grey .stat-bar .stat-bar__item::before,
.page-secondary-col--orange .page-section--col-light-grey .stat-bar .stat-bar__item::before {
  background-color: #d93954;
}

.environment-report.environment-report-statbar {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .environment-report.environment-report-statbar {
    margin-top: 40px;
  }
}

/** HTML column control component widths **/
@media (min-width: 768px) {
  .environment-report .pwccol1-longform .pwccol1-longform-c0 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .environment-report .pwccol1-longform .pwccol1-longform-c0 {
    width: 83.3333333333%;
  }
}
@media (min-width: 1200px) {
  .environment-report .pwccol1-longform .pwccol1-longform-c0 {
    width: 66.6666666667%;
  }
}

@media (min-width: 768px) {
  .environment-report.environment-report--chart .pwccol1-longform .pwccol1-longform-c0 {
    width: calc(100% - 30px);
  }
}
@media (min-width: 992px) {
  .environment-report.environment-report--chart .pwccol1-longform .pwccol1-longform-c0 {
    width: calc(83.3333333333% - 30px);
  }
}
@media (min-width: 1200px) {
  .environment-report.environment-report--chart .pwccol1-longform .pwccol1-longform-c0 {
    width: calc(66.6666666667% - 30px);
  }
}

/** Chapter headings alignment **/
.environment-report .chapterheading .chapter-heading {
  padding: 0;
}

.environment-report.environment-report--chapter-heading-no-margin-top .chapterheading {
  margin-top: 0;
}

/** Quote card widths **/
.environment-report .quote .quote-card {
  width: 100%;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .environment-report .quote .quote-card {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 720px;
  }
}
@media (min-width: 992px) {
  .environment-report .quote .quote-card {
    width: 778.33333333px;
  }
}
@media (min-width: 1200px) {
  .environment-report .quote .quote-card {
    width: 750px;
  }
}
@media (min-width: 1400px) {
  .environment-report .quote .quote-card {
    width: 769px;
  }
}
.environment-report.environment-report--quote-no-margin-top .quote .quote-card {
  margin-top: 0;
}
.environment-report.environment-report--quote-no-margin-bottom .quote .quote-card {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .env-sticky-download {
    display: none !important;
  }
}
@media (min-width: 992px) {
  #introduction .cta-card-wrapper {
    display: none;
  }
  .cq-Editable-dom #introduction .cta-card-wrapper {
    display: block;
  }
}